<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="libs/jquery-1.11.0.min.js"></script>
    <script src="libs/lodash.js"></script>
    <script src="libs/backbone-min.js"></script>
    <script src="libs/backbone.marionette.js"></script>
    <link rel="stylesheet" href="style/style.css" />
    <title>Théâtre de Guignol</title>

    <script type="text/template" id="spectacle-template">
        <td><a href="#detail/<%= id %>"><%= titre %></a></td>
        <td><%= date %></td>
        <td><%= auteur %></td>
        <td><%= duree %></td>
        <td><%= tarif %></td>
    </script>
    <script type="text/template" id="programme-template">
        <table>
            <thead>
            <tr> <th>Titre</th> <th>Date</th> <th>Auteur</th><th>Duree</th><th>Tarif</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </script>
    <script type="text/template" id="spectacle-detail-template">
        <p><a href="#">&lt; home</a></p>
        <h2><%= titre %></h2>
        <p><span class="date"><%= date %></span> - <span class="duree"><%= duree %></span></p>
        <p><%= description %></p>
        <p><span class="auteur">Par <%= auteur %></span> - <span class="tarif">Tarif : <%= tarif %></span></p>
    </script>

    <script>
        var Spectacle = Backbone.Model.extend({
            idAttribute : "id"
        });

        var Programme = Backbone.Collection.extend({
            url: 'data/programmation.json',
            model: Spectacle
        });

        // Ligne du tableau des spectacles

        var SpectacleView = Backbone.Marionette.ItemView.extend({
            template: '#spectacle-template',
            tagName : 'tr',
            modelEvents : {
                'change' : 'render'
            }
        });

        // Tableau des spectacles
        var ProgrammeView = Backbone.Marionette.CompositeView.extend({
            template: '#programme-template',
            itemView : SpectacleView,
            itemViewContainer : 'tbody',
            modelEvents : {
                'sync' : 'render'
            }
        });

        // Vue pour la page de détail
        var SpectacleDetailView = Backbone.Marionette.ItemView.extend({
            template: '#spectacle-detail-template',
            tagName : 'div',
            modelEvents : {
                'change' : 'render'
            }
        });


        var TheatreRouter = Backbone.Router.extend({
            routes: {
                "":            "home",
                "detail/:id":  "detail"
            },

            home : function() {
                var programmeView = new ProgrammeView({  collection: programme });
                theatreApplication.mainRegion.show(programmeView);
            },

            detail: function(id) {
                var spectacle = programme.get(id);
                var spectacleDetailView = new SpectacleDetailView({ model: spectacle });
                theatreApplication.mainRegion.show(spectacleDetailView);
            }
        });

        // Les variables globales c'est mal, on peut faire mieux mais c'est juste une démo
        var programme = new Programme();
        var theatreApplication = new Backbone.Marionette.Application();

        theatreApplication.addInitializer(function () {
            theatreApplication.addRegions({
                mainRegion: "#content"
            });
            programme.fetch({
                success : function () {
                    new TheatreRouter();
                    Backbone.history.start();
                }
            });
        });

        window.addEventListener('load', function () {
            theatreApplication.start();
        });
    </script>
</head>
<body>
<div id="main">
    <h1 class="marionette">Théatre Marionette</h1>

    <div id="content"></div>
</div>
</body>
</html>